body {
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100vw;
  padding: 0;
  height: 100vh;
  background: radial-gradient(circle, #010630, black);
  color: white;
  overflow: hidden;
}

.clustering {
  position: absolute;
  display: flex;
  margin-left: 5px;
  height: fit-content;
  left: 50%;
  top: -10px;
  background: radial-gradient(circle, #008000, black);
  transform: scaleX(0.7) scaleY(0.7) translateX(-50%);
  transform-origin: left;
}

.sidebar {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 55vh;
  padding-left: 30px;
  justify-content: center;
  z-index: 3;
}

.main_cluster {
  width: 41vw;
  height: 55vh;
  display: flex;
  margin-top: 1%;
  margin-left: -20px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#handleImg {
  position: absolute;
  top: 25%;
  transform: translateY(-50%) translateX(-8%);
  width: 120%;
  z-index: 2;
  left: -0.2%;
  pointer-events: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

#header-left,
#header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

#handleImg {
  -webkit-mask-image:
    linear-gradient(to left, transparent 0%, black 30%, black 80%, transparent 100%),
    linear-gradient(to right, transparent 0%, black 40%, black 80%, transparent 100%);
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
  mask-image:
    linear-gradient(to left, transparent 0%, black 30%, black 80%, transparent 100%),
    linear-gradient(to right, transparent 0%, black 40%, black 80%, transparent 100%);
  mask-composite: intersect;
}

.center-logo {
  position: absolute;
  right: 0.5%;
  top: 4%;
  height: 70px;
  margin-right: 20px;
  margin-top: 0px;
  z-index: 3;
}

.center-logo img {
  height: 100%;
}



.icon {
  width: 40px;
  height: 40px;
}

.device-name {
  font-size: 20px;
}

#date-time {
  font-size: 20px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}

.left {
  border-width: 20px 30px 20px 0;
  border-color: transparent rgb(9, 118, 207) transparent transparent;
  left: 14%;
  display: none;
}

.right {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent rgb(9, 118, 207);
  right: 5%;
  display: none;
}

.mode-text {
  font-size: 16px;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 0px;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  border: 3px solid transparent;
  background: none;
}

.circle p:nth-of-type(1) {
  font-size: 40px;
  margin: 0;
}

#circle1 {
  width: 220px;
  margin-right: -50px;
  height: 220px;
  transition: border-color 0.5s ease;
  background-color: black;
}

#circle2 {
  border-color: #ffffff;
  width: 280px;
  height: 280px;
  z-index: 9998;
  background-color: black;
}

#circle2_speedContent {
  text-align: center;
  width: 180px;
}


#reverseBorderImg {
  -webkit-mask-image:
    linear-gradient(to left, transparent 0%, black 30%, black 80%, transparent 100%),
    linear-gradient(to right, transparent 0%, black 40%, black 80%, transparent 100%);
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
  mask-image:
    linear-gradient(to left, transparent 0%, black 30%, black 80%, transparent 100%),
    linear-gradient(to right, transparent 0%, black 40%, black 80%, transparent 100%);
  mask-composite: intersect;
}

#circle3 {
  border-color: #27aae1;
  width: 220px;
  height: 220px;
  margin-left: -50px;
  background-color: black;
}

.circle .tagline {
  font-size: 20px;
  margin: 0;
}

.small-text {
  font-size: 12px;
}

.tagline {
  font-size: 16px;
  margin-top: 10px;
}

.text-boxes {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.text-box {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  border: 2px solid white;
}

.line-small {
  font-size: 12px;
}

.line-large {
  font-size: 18px;
  margin-top: 5px;
}

.icon-box {
  cursor: pointer;
  padding: 15px;
  background: rgba(50, 50, 50, 0.7);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box img {
  width: 40px;
  height: 40px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  padding: 20px;
}

.map-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 90%;
}

.music-content {
  border-radius: 10px;
  width: 150%;
  transform: translateX(-15%);
}

.call-directory {
  text-align: center;
}

.call-directory h2 {
  margin-bottom: 20px;
}

#player02 {
  margin-left: 40px;
  margin-right: 40px;
  height: fit-content;
}

#player02 .controls {
  display: flex;
  justify-content: space-around;
}


.player {
  padding-top: 25px;
  padding-left: 25px;
  margin-left: -2px;
  padding-right: 25px;
  border-radius: 20px;
}

.player img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}


.info {
  color: #E1E1E6;
}

.info p {
  opacity: 0.68;
  font-size: 19px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.player h1 {
  font-size: 27px;
  color: #E1E1E6;
}


.controls {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.track {
  padding-top: 28px;
  position: relative;
}

.track::before {
  content: '';
  height: 6px;
  width: 100%;
  display: block;
  background: #D9D9D9;
  opacity: 0.3;
  border-radius: 10px;
  position: absolute;
}

.track::after {
  content: '';
  height: 6px;
  width: 0%;
  display: block;
  background: #D9D9D9;
  border-radius: 10px;
}

.time {
  opacity: 0.7;
  font-size: 14px;
  color: gainsboro;

  display: flex;
  justify-content: space-between;
  padding-top: 9.6px;
}

@media (max-width: 670px) {
  #boxes {
    display: flex;
    flex-direction: column;

    max-width: 270px;
    margin: auto;


    height: auto;
    padding-block: 60px;
  }
}

.scooter_area {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  height: 50vh;
  width: 50vw;
  z-index: 3;
}

.mode-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 130px;
  height: 30px;
  bottom: 80px;
  width: 100px;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  border: 2px solid white;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
}

.engine-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 300px;
  width: 100px;
  top: 315px;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  height: 30px;
  border: 2px solid white;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
}

.cruise-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 360px;
  width: 100px;
  top: 220px;
  border: 2px solid white;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  height: 30px;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
}

.stand-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 460px;
  width: 100px;
  top: 405px;
  transform: translateX(-50%);
  border: 2px solid white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  height: 30px;
  border-radius: 25px;
  border: 2px solid white;
  text-align: center;
  font-size: 16px;
}

.reverse-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 260px;
  width: 100px;
  border: 2px solid white;
  top: 435px;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  height: 30px;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
}

.storage-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid white;
  height: 30px;
  position: absolute;
  right: 200px;
  width: 100px;
  top: 250px;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
}

.mode-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  transition: background-color 0.3s;
}

.controls_area {
  position: absolute;
  top: 280px;
  left: 85%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  height: 50vh;
  width: 50vw;
  z-index: 3;
}

.ecu_area {
  position: absolute;
  top: 230px;
  pointer-events: none;
  left: 300px;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  height: 50vh;
  width: 50vw;
  z-index: 3;
}

@keyframes shake {
  0%   { transform: translateX(-50%) }
  25%  { transform: translateX(calc(-50% + 5px)) }
  50%  { transform: translateX(calc(-50% - 5px)) }
  75%  { transform: translateX(calc(-50% + 5px)) }
  100% { transform: translateX(-50%) }
}

.equalizer {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  height: 100px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

.bar {
  width: 4px;
  background: white;
  cursor: pointer;
  position: relative;
  height: 50%;
  transition: height 0.1s;
}

.bar::before {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}